<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-cogs"></i>
                    <span>{{$form->action_object}}</span>
                </div>
                <div class="box-icons col-sm-9">

                    <span class="pull-right col-sm-3">
                        <a href="{{url('backend/forms/export/data/'.$form->id)}}">
                            <i class="fa fa-cloud-download"></i>
                            <span>{{ t('forms::strings.export') }}</span>
                        </a>
                    </span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                {{ $rows->links() }}
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="postslist">

                    <thead>
                    @foreach ($rows as $a=>$post)
                    @foreach($post as $k=>$attr)
                    @if($a===0)
                    <th>{{{$k}}}</th>
                    @endif
                    @endforeach
                    @endforeach
                    </thead>
                    <tbody>
                    @foreach ($rows as $post)

                    <tr>
                        @foreach($post as $attr)
                        <td>{{{$attr}}}</td>
                        @endforeach
                    </tr>
                    @endforeach


                    <!-- End: list_row -->
                    </tbody>

                </table>
                {{ $rows->links() }}
            </div>
            <div class="box-content">
                {{$form}}
            </div>
        </div>
    </div>
</div>

